---
# Only the main Sass file needs front matter (the dashes are enough)
---

// GENERAL

.text-center{
	text-align: center;
}

.text-justified{
	text-align: justify;
}

// TRANSITIONS
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s ease-out;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

// NAVBAR | PICTURE WITH ME
.sidebar {
	padding-top: 50px !important;
}

.my-name {
	padding-top: 10px;
	margin-bottom: 30px;

	h1.color-name {
		transition: all 0.5s ease;
		color: #05668d !important;

		&:hover{
			color: #679436 !important;
		}
	}
}
figure.img-center {
	margin-left: auto;
    margin-right: auto;
    display: block;
}
img.img-circle {
	border-radius: 60px !important;
}

// NAVBAR | ABOUT ME
.about-me {
	margin-top: 20px;
	margin-bottom: 40px;

	p.content-container{
		padding: 20px;
		text-align: justify;
		font-size: 14px;
	}
}

// NAVBAR | SOCIAL MEDIA CONTACT
.social-media-icon {
	margin-top: 40px;
	text-align: center;

	a.icon-color{
		transition: all 0.5s ease;
		color: #05668d !important;

		&:hover{
			color: #679436 !important;
		}
	}
}

.contact-container {
	padding: 20px;
}
// NAVBAR | NAV
.navi {
	padding-bottom: 20px !important;

	h2.color-nav{
		transition: all 0.5s ease;
		color: #05668d !important;

		&:hover {
			color: #679436 !important;
		}
	}
}


// MAIN CONTENT
.main-content {
	color: #4a4a4a !important;
	padding: 20px !important;
}
// INTRO 
.intro-box{
	padding: 50px !important;
	margin-top: 250px;
}

// SKILLS SECTION
.skills-sections{
	margin-top: 50px;
	padding: 40px;

	section.frontend{
		margin-bottom: 80px;

		h1.title{
			color: #427aa1;
		}
	}

	section.backend{
		margin-bottom: 80px;

		h1.title{
			color: #427aa1;
		}
	}

	section.essential{
		margin-bottom: 50px;

		h1.title{
			color: #427aa1;
		}
	}
}
// WORKS
@media screen and (min-width: 1192px) {
	.hero-body {
	    padding-left: 20px !important;
	}
}
.works {
	padding: 40px;

	section {
		margin-bottom: 70px;
	}

	h1.text-center {
		margin-bottom: 40px;
	}

	h1.work-title {
		color: #427aa1;
		a { 
			color: #427aa1;
			transition: all 0.5s ease;
			&:hover {
				color: rgb(118,158,74);
			}
		}
	}
}

.work-divider {
	border-top: 4px solid #427aa1;
	width: 15%;
	padding-bottom: 20px;
}

.content-work-container {
	// border-bottom: 1px solid #4a4a4a;
	// box-shadow: 0px 10px 5px #888888;
	.work-description {
		font-size: 16px;
	}
}

// PROJECTS
.ladderio-server {
	h2.title{
			color: #427aa1;
		}
}

.ul-projects {
	li{
		a{
			font-size: 16px;
		}
	}
}
