---
# Only the main Sass file needs front matter (the dashes are enough)
---

// GENERAL

.text-center{
	text-align: center;
}

// NAVBAR | PICTURE WITH ME
.sidebar {
	padding-top: 30px !important;
	background-color: #ebf2fa !important;

}

.my-name {
	padding-top: 10px;
	margin-bottom: 30px;

	h1.color-name {
		transition: all 0.5s ease;
		color: #05668d !important;

		&:hover{
			color: #679436 !important;
		}
	}
}
figure.img-center {
	margin-left: auto;
    margin-right: auto;
    display: block;
}
img.img-circle {
	border-radius: 60px !important;
}

// NAVBAR | ABOUT ME
.about-me {
	margin-top: 20px;
	margin-bottom: 40px;

	p.content-container{
		padding: 20px;
		text-align: justify;
	}
}

// NAVBAR | SOCIAL MEDIA CONTACT
.social-media-icon {
	margin-top: 40px;
	text-align: center;

	a.icon-color{
		transition: all 0.5s ease;
		color: #05668d !important;

		&:hover{
			color: #679436 !important;
		}
	}
}

.contact-container {
	padding: 20px;
}



// NAVBAR | NAV
.navi {
	padding-bottom: 20px !important;

	h2.color-nav{
		transition: all 0.5s ease;
		color: #05668d !important;

		&:hover {
			color: #679436 !important;
		}
	}
}


// MAIN CONTENT
section.main-content {

}