---
layout: default
---
<transition name="fade" appear>
  <section v-show="showintro" id="home" class="hero is-fullheight">
    <div class="hero-body">
      <div class="content is-medium">
        <div>
          <h1 class="title">“Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live.”</h1>
          <br>
          <h2 class="sub-title">– Martin Golding</h2>
        </div>
      </div>
    </div>    
  </section>
</transition>

<transition name="fade">
  <section v-show="showskills" class="skills" id="skills">
    <skills-section></skills-section>
  </section>
</transition>

<transition name="fade">
  <section v-show="showproject" class="project" id="pastprojects">
    <works-section></works-section>
  </section>
</transition>

<transition name="fade">
  <section v-show="showeduction" class="education" id="education">
    <education-section></education-section>
  </section>
</transition>